overrides:
  - files: "**/*.{js,mjs,cjs}"
    options:
      parser: meriyah
  - files: "bin/prettily.cjs"
    options:
      trailingComma: none
  - files:
      - ".vscode/*.json"
      - "tsconfig.json"
    options:
      parser: jsonc
